/** resetting default padding, margin and color for all elements **/
*{text-decoration: none;list-style-type: none; padding: 0;margin: 0; //outline: red 1px solid;}

/** scroll smooth **/
html{scroll-behavior: smooth;}

/** link styling **/
a{text-decoration: none; color: inherit;}

/** import font **/
.font-inter{font-family: 'Inter', sans-serif;}
.font-montserrat{font-family: 'Montserrat', sans-serif;}

/** positioning **/
.position-relative{position: relative;}
.position-absolute{position: absolute;}

/** font weights **/
.fw-bold{font-weight: 700;}
.fw-super-bold{font-weight: 900;}
.fw-normal{font-weight: 400;}
.fw-light{font-weight: lighter;}

/** font sizes **/
.fs-15{font-size: 15px;}
.fs-20{font-size: 20px;}
.fs-24{font-size: 24px;}
.fs-26{font-size: 26px;}
.fs-32{font-size: 32px;}
.fs-36{font-size: 36px;}
.fs-50{font-size: 50px;}

/** font styles **/
.fs-italic{font-style: italic;}

/** body Color **/
Body{background-color: #0A0A0A;}

/** txt colors **/
.white-txt{color: #FFFFFF;}
.blue-txt{color: #4473C6;}
.grey-txt{color: #dddddd;;}
.greyer-txt{color: #B3B3B3;;}
.aqua-txt{color: #29C8AD;}

/** background colors **/
.bg-dark{background-color: #101010;}
.bg-light-dark{background-color: #131313;}
.bg-lightest-dark{background-color: #14171C;}

/** flexbox **/
.flex-row{display: flex; flex-direction: row;}
.flex-align-center{display: flex; align-items: center;}
.flex-align-self-center{display: flex; align-self: center;}
.flex-align-content-center{display: flex; align-content: center;}
.flex-space-between{display: flex; justify-content: space-between;}
.flex-justify-center{display: flex; justify-content: center;}
.flex-justify-self-center{display: flex; justify-self: center;}
.flex-column{display: flex; flex-direction: column;}
.flex-space-evenly{display: flex; justify-content: space-evenly;}

/** margins **/
.mt-10{margin-top: 10px;}

/** z-index **/
.z-1{z-index:1;}
.z-2{z-index:2;}
.z-3{z-index:3;}

/** hovers **/
.hover-pointer{cursor: pointer;}
.hover-duration-500ms{transition-duration: 500ms;}
.hover-green:hover{color: #29C8AD;}
.hover-light:hover{filter: brightness(1.2);}
.hover-lighter:hover{filter: brightness(1.5);}
.hover-size-105:hover{transform: scale(1.05);}

/** pointer cursor **/
.cursor-context-menu{cursor: context-menu;}
.cursor-pointer{cursor: pointer;}

/** color bar **/
.color-bar{
    width: 300px;
    height: 10px;
    border-radius: 100px;
    background: linear-gradient(90deg, #29C8AD, #4473C6);
    margin-top: 20px;
    margin-bottom: 50px;
}

.color-bar-thanks{
    width: 300px;
    height: 10px;
    border-radius: 100px;
    background: linear-gradient(90deg, #29C8AD, #4473C6);
    margin-top: 20px;
    margin-bottom: 20px;
}

.color-ball{
    width: 3px;
    height: 10px;
    outline: #4AA495 3px solid;
    border-radius: 100%;
    background: linear-gradient(180deg, #29C8AD, #4473C6);
    margin-top: 20px;
    margin-bottom: 20px;
}

.color-line{
    width: 1.5%;
    height: 100%;
    border-radius: 100px;
    background: linear-gradient(180deg, #29C8AD, #4473C6);
    margin-top: 10px;
}

/** button styling **/
.button-styling{
    border-radius: 100px;
    outline: #2aceb3 3px solid;
    background: linear-gradient(90deg, #29C8AD, #4473C6);
}

.button-styling-darker{
    border-radius: 100px;
    outline: #4AA495 3px solid;
    background: linear-gradient(90deg, #4473C6, #1b8573);
}

.button-styling-green{
    border-radius: 100px;
    outline: #4AA495 3px solid;
    background: linear-gradient(90deg, #29C8AD, #146255);
}

/** underline hover effect **/
.underline{
    position: relative;
    cursor: pointer;
}

.underline::after{
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    border-radius: 50px;
    background: #29C8AD;
    transition: width 0.5s;
}

.underline:hover::after{
    width: 100%;
}

/** Header Style **/
header{
    width: 100%;
    position: sticky;
    z-index: 99;
    top: 0;
    height: 80px;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(90deg, #29C8AD, #4473C6) 1;
}

ul{gap: 20px;padding: 0px 40px 0px 0px;}

.logo{padding: 0px 0px 0px 40px;}

.logo-gradient{
    background: linear-gradient(90deg, #29C8AD, #4473C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** section 1 styling introduction **/
.introduction-class{
    width: 100%;
    height: 750px;
}

.introduction-code-background{
    width: 100%;
    height: auto;
    background-image: url('../img/Code/Code\ Fade.png');
    background-repeat: no-repeat;
}

.introduction-box-contain{
    width: auto;
    padding: 100px 0px 0px 0px;
}

.introduction-title-txt{gap: 30px; width: auto; }
.introduction-header-txt{gap: 30px; width: auto;}

.txt-software-dev{
    width: auto;
    padding: 0px 10px 0px 0px;
    background: linear-gradient(90deg, #29C8AD, #4473C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.read-more{
    padding: 200px 0px 0px 0px;
    letter-spacing: 6px;
}

.click-me-button{
    margin-top: 10px;
    padding: 10px 130px 10px 130px;
}

/** section 2 styling about me **/
.about-me{
    padding: 100px 0px 0px 0px;
    width: 100%;
    height: 550px;
    background-image: url('../img/Code/Code\ Fade2.png');
    background-repeat: no-repeat;
}

.about-container{width: auto;}

.about-me-txt{
    width: 80%;
    margin-top: 10px;
}

.about-me-title{gap: 30px;}

/** section 3 styling program goals **/
.program-goals{
    width: 100%;
    padding: 100px 0px 0px 0px;
}

.program-goals-container{
    width: auto;
}

.my-portfolio-box{padding: 5px 50px 5px 50px;}
.program-goals-title{padding: 50px 0px 0px 0px;}

.program-goals-three-boxes{
    width: auto;
    gap: 90px;
}

.program-boxes{
    outline: #2D2D2D 2px solid;
    border-radius: 50px;
    width: 26%;
    height: 240px;
    margin-top: 80px;
}

.goals-box-title{padding: 20px 20px 0px 25px;}
.goals-box-txt{padding: 10px 20px 0px 25px;}

/** section 4 styling my experience **/
.my-experience{
    width: 100%;
    height: auto;
    padding: 100px 0px 0px 0px;;
}

.albron-work-box{margin-top: 10px;}

.experience-journey-box{width:100%;}
.my-experience-box{width: auto; padding: 5px 50px 5px 50px;}
.work-experience-boxes{width: auto;}
.work-design{width: 20%;}
.work-title{padding: 50px 0px 0px 0px;}
.work-box-txt{width: auto;}

.work-boxes-placement{padding: 0px 40px;}
.txt-work{margin-top: 20px;}

.albron-title{width: 75%;}
.albert-heijn-title{width: 86%;}
.jumbo-title{width: 68%;}

/** dropdown WIP **/
.work-txt{width: 68%; height: auto;}
.work-design{width: 20%;}

.work-boxes-albron{
    width: 78%;
    max-height: 0px;
    max-height: 100%;
    border-radius: 50px; 
    outline: #2D2D2D 2px solid;
}

/* verborgen */
.work-txt,
.albron-image-red,
.jumbo-image-yellow,
.albert-image-blue {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.7s ease;
}

/* zichtbaar */
.work-txt.open,
.albron-image-red.open,
.jumbo-image-yellow.open,
.albert-image-blue.open {
    max-height: 400px;
    opacity: 1;
}

/** onclick expand boxes **/
.work-boxes-jumbo{
    width: 78%;
    border-radius: 50px;
    outline: #2D2D2D 2px solid;   
}

.work-boxes-albert-heijn{
    width: 78%;
    border-radius: 50px;
    outline: #2D2D2D 2px solid;   
}

/** continue **/
.work-box-txt{z-index: 1; width: 41%; padding: 30px 0px 0px 30px;}
.work-year-txt{width: 32%;}

.work-image{
    overflow: hidden;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    mask-image: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.12) 60%, rgba(0,0,0,0) 100%);
}

/** section 5 styling projects **/
.projects-placement{
    width: 100%; 
    padding: 100px 40px 0px 40px;
    background-image: url('../img/Code/Code\ Fade.png');
    background-repeat: no-repeat;
}

.project-title{padding: 50px 0px 0px 0px;}
.project-txt{width: 65%;}

.project-box-title{padding: 20px 20px 0px 25px;}
.project-box-txt{width: 80%; padding: 10px 20px 0px 25px;}

.project-boxes{
    position: relative;
    overflow: hidden;
    outline: #2D2D2D 2px solid;
    border-radius: 50px;
    width: 26%;
    height: 300px;
    margin-top: 80px;
}

.project-box-three-boxes{gap: 100px;}

.mask-image-project {mask-image: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.1) 60%, rgba(0,0,0,0) 100%);}

.pink-goose-image {bottom: 140px;}
.mastermind-image {bottom: 80px;}
.portfolio-image  {bottom: 80px;}

/** section 6 styling tech stack **/
.tech-stack{
    width: 100%;
    background-image: url('../img/Code/Code\ Fade2.png');
    background-repeat: no-repeat;
}

.get-in-touch-container{padding: 0px 40px 0px 0px;}
.contact-container{padding: 0px 40px 0px 40px;}
.tech-placement{width: 100%; padding: 100px 0px;;}
.tech-title{padding: 50px 40px 0px 40px;}
.tech-stack-boxes{gap: 40px; padding: 50px 40px;}

.tech-box-style{
    width: 200px;
    height: 70px;
    border-radius: 100px;
    border: #888888 2px solid;
    padding: 0px 30px 0px 30px;
}

/** section 7 styling contact me **/
.contact{padding: 100px 0px; width: 100%;}
.contact-container{width: 100%;}
.get-in-touch-container{width: 50%;}
.thanks-for-visiting-container{width: 50%;}

.touch-box{
    width: 90%;
    height: 600px;
    border-radius: 70px;
    outline: #2D2D2D 2px solid;
}

.touch-placement-box{
    width: 83%;
    height: 80%;
    padding: 40px 60px;
}

.thanks-container{width: 100%;}

.thanks-txt{
    width: 47%;
    height: auto;
    padding: 30px 0px;
    text-align: center;
}

.thanks-visiting-txt{text-shadow: -10px -10px 30px #29C8AD;}
.thanks-my-website-txt{text-shadow: -10px -10px 30px #4473C6;}
.form-space{padding: 20px 0px 0px 0px;}

.form-width{
    width: 100%;
    margin-bottom: 5px;
}

.input-name, .input-email{
    width: 96%;
    height: 40px;
    border-radius: 5px;
    border: #1E2736 2px solid;
    padding: 0px 10px;
}

.input-message{
    width: 96%;
    max-width: 96%;
    min-width: 96%;
    height: 130px;
    max-height: 130px;
    min-height: 130px;
    border-radius: 5px;
    border: #1E2736 2px solid;
    padding: 10px 10px;
}

.form-submit-button{
    margin-top: 20px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    border: #4AA495 2px solid;
    background: linear-gradient(90deg, #4473C6, #29C8AD);
}

.buttonBounceOnClick:active:hover {
    animation: pop 0.1s ease-in-out both;
}

@keyframes pop {
    0% { transform: scale(1.05); }
    50% { transform: scale(1.01); }
    100% { transform: scale(1.05); }
}

/** Footer Style **/
footer{
    width: 100%;
    height: 80px;
    border-top: 5px solid transparent;
    border-image: linear-gradient(90deg, #29C8AD, #4473C6) 1;
}

.footer-box{width: 100%;}
.all-rights-reserved{padding: 0px 0px 0px 40px;}

.icons-social{
    gap: 40px;
    padding: 0px 40px 0px 0px;
}

@media only screen and (max-width: 600px) {

    /** color bar responsive **/
    .color-bar{width: 150px; height: 5px; margin-top: 7px; margin-bottom: 15px;}
    .underline::after{display: none;}

    /** header responsive **/
    header{height: 50px; position: sticky;}
    ul{position: relative; gap: 10px; font-size: 10px; left: 25px; padding: 0px 0px 0px 0px;}
    .logo{display: none;}

    /** section 1 styling introduction responsive **/
    .introduction-box-contain{width: 100%; padding: 100px 0px 0px 0px;}
    .introduction-title-txt{gap: 10px; width: 100%; font-size: 20px;}
    .introduction-header-txt{gap: 10px; width: 100%; font-size: 20px;}
    .introduction-normal-txt{font-size: 16px; width: 70%;}
    .txt-software-dev{width: 75%;padding: 5px 10px 0px 0px;font-size: 20px;}
    .introduction-class{width: 100%;height: auto;}
    .introduction-box-contain{padding: 50px 20px 0px 10px;}
    .introduction-title-txt, .introduction-header-txt{gap: 10px;}
    .read-more, .click-me-button{display: none;}

    /** about me section responsive **/
    .about-me{padding: 50px 0px 0px 0px; height: auto;}
    .about-container{width: auto;}
    .about-me-title{gap: 10px; font-size: 20px;}
    .about-me-txt{width: 80%;margin-top: 10px;font-size: 17px;}

    /** program goals section responsive **/
    .program-goals{width: 100%; padding: 50px 0px 0px 0px; height: auto;}
    .my-portfolio-box{display: none;}
    .program-goals-title{font-size: 20px;}
    .program-goals-three-boxes{flex-direction: column;gap: 1px;padding: 0px 50px 0px 50px;}
    .program-boxes{width: 100%; height: auto; padding: 0px 0px 20px 0px;}
    .project-box-three-boxes{flex-direction: column; gap: 40px;}
    .goals-box-title{font-size: 18px;}
    .goals-box-txt{font-size: 15px;}
    .program-boxes{margin-top: 30px;}

    /** work experience section responsive **/
    .my-experience{width: 100%; height: auto; padding: 50px 0px 0px 0px;}
    .work-title{font-size: 18px;}
    .work-boxes-placement{padding: 0px 20px;}
    .work-year-txt{width: 40%; font-size: 14px;}
    .work-box-txt{width: 100%; font-size: 14px; padding: 20px 0px 0px 0px;}
    .work-image, .work-design, .my-experience-box{display: none;}
    .work-experience-boxes{flex-direction: column; gap: 0px; padding: 20px 20px 20px 20px;}
    .albron-title, .albert-heijn-title, .jumbo-title, .work-year-txt{width: 100%; font-size: 16px; justify-items: center;}
    .albron-work-box{margin-top: 0px;}
    .work-boxes-albron, .work-boxes-jumbo, .work-boxes-albert-heijn{width: 100%;}
    .work-txt{width: 85%; font-size: 16px; margin-top: 20px; padding: 0px 0px 20px 0px; justify-self: center;}

    /** projects section responsive **/
    .projects{padding: 0px 20px 0px 20px;}
    .projects-placement{width: 100%; padding: 50px 20px;}
    .project-title{font-size: 18px;}
    .projects-placement{width: 100%; padding: 0px 20px 0px 20px;}
    .project-title{padding: 50px 0px 0px 0px;}
    .project-txt{width: 90%; font-size: 18px; margin-bottom: 50px;}
    .project-box-title{padding: 20px 20px 0px 25px;}
    .project-box-txt{width: 80%; padding: 10px 20px 0px 25px; font-size: 14px;}
    .project-boxes{width: 100%; height: 160px; margin-top: 0px;}

    /** tech stack section responsive **/
    .tech-placement{width: 100%; padding: 50px 0px;}
    .tech-title{font-size: 18px; padding: 30px 20px 0px 20px;}
    .tech-stack-boxes{flex-wrap: wrap; justify-content: center; gap: 20px; padding: 30px 20px;}

    /** contact me section responsive **/
    .thanks-for-visiting-container{display: none;}
    .get-in-touch-container{width: 600px; padding: 0px 20px 0px 20px;}
    .touch-placement-box{width: 90%; height: auto; padding: 20px 20px 20px 20px;}
    .touch-box{width: 100%; height: auto; margin-bottom: 50px; border-radius: 20px;}
    .touch-title-txt{font-size: 16px;}
    .form-width{width: 97%;}
    .contact{padding: 20px 0px; width: 100%;}
    .contact-container{width: 100%; padding: 0px 0px 0px 0px;}

    /** footer responsive **/
    footer{height: 80px;}
    .all-rights-reserved{display: none;}
    .icons-social{width: 100%; justify-content: space-between; padding: 0px 20px 0px 20px;}
    

}