/** resetting default padding, margin and color for all elements **/
*{text-decoration: none;list-style-type: none; padding: 0;margin: 0; outline: red 1px solid;}

/** scroll smooth **/
html{scroll-behavior: smooth;}

/** link styling **/
a{text-decoration: none; color: inherit;}

/** import font **/
.font-inter{font-family: 'Inter', sans-serif;}
.font-montserrat{font-family: 'Montserrat', sans-serif;}

/** positioning **/
.position-relative{position: relative;}
.position-absolute{position: absolute;}

/** font weights **/
.fw-bold{font-weight: 700;}
.fw-super-bold{font-weight: 900;}
.fw-normal{font-weight: 400;}
.fw-light{font-weight: lighter;}

/** font sizes **/
.fs-20{font-size: 20px;}
.fs-24{font-size: 24px;}
.fs-32{font-size: 32px;}
.fs-36{font-size: 36px;}
.fs-50{font-size: 50px;}

/** font styles **/
.fs-italic{font-style: italic;}

/** body Color **/
Body{background-color: #0A0A0A;}

/** txt colors **/
.white-txt{color: #FFFFFF;}
.blue-txt{color: #4473C6;}
.grey-txt{color: #dddddd;;}
.greyer-txt{color: #B3B3B3;;}

/** background colors **/
.bg-dark{background-color: #101010;}
.bg-light-dark{background-color: #131313;}

/** flexbox **/
.flex-row{display: flex; flex-direction: row;}
.flex-align-center{display: flex; align-items: center;}
.flex-align-self-center{display: flex; align-self: center;}
.flex-align-content-center{display: flex; align-content: center;}
.flex-space-between{display: flex; justify-content: space-between;}
.flex-justify-center{display: flex; justify-content: center;}
.flex-justify-self-center{display: flex; justify-self: center;}
.flex-column{display: flex; flex-direction: column;}
.flex-space-evenly{display: flex; justify-content: space-evenly;}

/** margins **/
.mt-10{margin-top: 10px;}

/** hovers **/
.hover-pointer{cursor: pointer;}
.hover-duration-500ms{transition-duration: 500ms;}
.hover-green:hover{color: #29C8AD;}

/** color bar **/
.color-bar{
    width: 300px;
    height: 10px;
    border-radius: 100px;
    background: linear-gradient(90deg, #29C8AD, #4473C6);
    margin-top: 20px;
    margin-bottom: 50px;
}

.color-ball{
    width: 19%;
    height: 14%;
    outline: #4AA495 3px solid;
    border-radius: 100%;
    background: linear-gradient(180deg, #29C8AD, #4473C6);
    margin-top: 20px;
    margin-bottom: 20px;
}

.color-line{
    width: 1.5%;
    height: 380px;
    border-radius: 100px;
    background: linear-gradient(180deg, #29C8AD, #4473C6);
}

/** button styling **/
.button-styling{
    border-radius: 100px;
    outline: #2aceb3 3px solid;
    background: linear-gradient(90deg, #29C8AD, #4473C6);
}

.button-styling-darker{
    border-radius: 100px;
    outline: #4AA495 3px solid;
    background: linear-gradient(90deg, #4473C6, #1b8573);
}

.button-styling-green{
    border-radius: 100px;
    outline: #4AA495 3px solid;
    background: linear-gradient(90deg, #29C8AD, #146255);
}

/** Header Style **/
header{
    width: 100%;
    position: sticky;
    z-index: 100;
    top: 0;
    height: 80px;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(90deg, #29C8AD, #4473C6) 1;
}

ul{gap: 20px;padding: 0px 40px 0px 0px;}

.logo{padding: 0px 0px 0px 40px;}

.logo-gradient{
    background: linear-gradient(90deg, #29C8AD, #4473C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** section 1 styling introduction **/
.introduction-class{
    width: 100%;
    height: 750px;
}

.introduction-code-background{
    width: 100%;
    height: auto;
    background-image: url('../img/Code/Code\ Fade.png');
    background-repeat: no-repeat;
}

.introduction-box-contain{
    width: auto;
    padding: 100px 0px 0px 0px;
}

.introduction-title-txt{gap: 30px; width: auto; }
.introduction-header-txt{gap: 30px; width: auto;}

.txt-software-dev{
    width: auto;
    padding: 0px 10px 0px 0px;
    background: linear-gradient(90deg, #29C8AD, #4473C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.read-more{
    padding: 200px 0px 0px 0px;
    letter-spacing: 6px;
}

.click-me-button{
    margin-top: 10px;
    padding: 10px 130px 10px 130px;
}

/** section 2 styling about me **/
.about-me{
    padding: 100px 0px 0px 0px;
    width: 100%;
    height: 550px;
    background-image: url('../img/Code/Code\ Fade2.png');
    background-repeat: no-repeat;
}

.about-container{width: auto;}

.about-me-txt{
    width: 80%;
    margin-top: 10px;
}

.about-me-title{gap: 30px;}

/** section 3 styling program goals **/
.program-goals{
    width: 100%;
    padding: 100px 0px 0px 0px;
}

.program-goals-container{
    width: auto;
}

.my-portfolio-box{padding: 5px 50px 5px 50px;}
.program-goals-title{padding: 50px 0px 0px 0px;}

.program-goals-three-boxes{
    width: auto;
    gap: 90px;
}

.program-boxes{
    outline: #2D2D2D 2px solid;
    border-radius: 50px;
    width: 26%;
    height: 240px;
    margin-top: 80px;
}

.goals-box-title{padding: 20px 20px 0px 25px;}
.goals-box-txt{padding: 10px 20px 0px 25px;}

/** section 4 styling my experience **/
.my-experience{
    width: 100%;
    height: 1600px;
    padding: 100px 0px 0px 0px;;
}
.experience-journey-box{width:100%;}
.my-experience-box{width: auto; padding: 5px 50px 5px 50px;}
.work-experience-boxes{width: auto;}
.work-design{width: 20%;}
.work-title{padding: 50px 0px 0px 0px;}
.work-box-txt{width: auto;;}

.work-boxes{
    width: 78%;
    height: 400px;
    border-radius: 50px;
    outline: #2D2D2D 2px solid;   
}

.work-boxes-placement{padding: 0px 40px;}
.albron-work{margin-top: 20px;}

.albron-title{width: 75%;}
.albert-heijn-title{width: 85%;}
.jumbo-title{width: 68%;}

.work-txt{width: 68%; height: auto;}
.work-box-txt{z-index: 1; width: 41%; padding: 30px 0px 0px 30px;}
.work-year-txt{width: 32%;}

.work-image{
    overflow: hidden;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    mask-image: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.12) 60%, rgba(0,0,0,0) 100%);
}

/** section 5 styling projects **/
.projects-placement{padding: 100px 40px;}

/** Footer Style **/
footer{
    width: 100%;
    height: 80px;
    border-top: 5px solid transparent;
    border-image: linear-gradient(90deg, #29C8AD, #4473C6) 1;
}

.footer-box{width: 100%;}
.all-rights-reserved{padding: 0px 0px 0px 40px;}

.icons-social{
    gap: 40px;
    padding: 0px 40px 0px 0px;
}