/** Resetting default padding, margin and color for all elements **/
*{text-decoration: none;list-style-type: none; padding: 0;margin: 0;}

/** Font Styles **/
.font-inter{font-family: 'Inter', sans-serif;}
.font-montserrat{font-family: 'Montserrat', sans-serif;}

/** font weights **/
.fw-bold{font-weight: 700;}
.fw-super-bold{font-weight: 900;}
.fw-normal{font-weight: 400;}

/** font sizes **/
.fs-20{font-size: 20px;}
.fs-24{font-size: 24px;}
.fs-32{font-size: 32px;}
.fs-36{font-size: 36px;}


/** Body Color **/
Body{background-color: #0A0A0A;}

/** txt colors **/
.white-txt{color: #FFFFFF;}

/** background colors **/
.bg-dark{background-color: #101010;}

/** flexbox **/
.flex-row{display: flex; flex-direction: row;}
.flex-align-center{display: flex; align-items: center;}
.flex-space-between{display: flex; justify-content: space-between;}

/** hovers **/
.hover-pointer{cursor: pointer;}
.hover-duration-500ms{transition-duration: 500ms;}
.hover-green:hover{color: #29C8AD;}

/** Header Style **/
header{
    width: auto;
    height: 80px;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(90deg, #29C8AD, #4473C6) 1;
}

ul{
    gap: 20px;
    padding: 0px 40px 0px 0px;
}

.logo{
    padding: 0px 0px 0px 40px;
}

.logo-gradient{
    background: linear-gradient(90deg, #29C8AD, #4473C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    width: 100%;
    height: 80px;
    border-top: 5px solid transparent;
    border-image: linear-gradient(90deg, #29C8AD, #4473C6) 1;
}

.footer-box{
    width: 100%;
}

.all-rights-reserved{
    padding: 0px 0px 0px 40px;
}

.icons-social{
    display: flex;
    gap: 40px;
    padding: 0px 40px 0px 0px;
}